//- Extending the main layout
extends layout

block content
  h1.book-title= book.title

  .book-details-container
    .book-thumbnail
      img(src=additionalDetails.image, alt="Book Thumbnail", class="thumbnail-img")

    .book-info
 
      p
        strong Author: 
        span= book.author
    
      p
        strong Year: 
        span= book.year
    
      p
        strong Genre: 
        span= book.genre
    
      p
        strong Description: 
        span= additionalDetails.description
    
      p
        strong Page Count: 
        span= additionalDetails.pageCount
    
      p
        strong ISBN: 
        span= additionalDetails.isbn

  //- Back to the book list link
  a.back-to-list(href="/") Back to Book List
